
*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
	overflow-x: hidden;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.animation-container {
	display: grid;
	justify-content: center;
	align-items: center;
	height: fit-content;
	width: 100%;
	border: 2px solid red;
}


.animation {
	background-color: #0f2642;
	/* center content */
	margin: auto;
	width: 100%;
	height: fit-content;
	font-family: 'Mochiy Pop P One', sans-serif;
  }
  
  .animation p{
	color: #feffd6;
	padding-top: 3%;
	text-align: center;
	margin-top: 13%;
	font-size: 1.4rem;
	position: relative;
  }
  
  .animation div { 
	color: #0f2642;
	position: relative;
	font-size: 13rem;
	top: 30%;
	left: 15%;
	animation-name: shadow;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-direction: alternate;
	padding-bottom: 5%;
  }
  
  @keyframes shadow{
	0%{
	} 
	25%{
	  color: #235796;
	  text-shadow: 8px 10px 0px blue;
	}
	50%{
	  text-shadow: 8px 10px 0px blue, 
	  13px 15px 0px lightblue,
	}
	75%{
	  text-shadow: 8px 10px 0px blue, 
	  13px 15px 0px lightblue,
	  18px 20px 0px white,
	}
	100%{
	  text-shadow: 8px 10px 0px blue, 
	  13px 15px 0px deepskyblue,
	  18px 20px 0px lightblue,
	  23px 25px 0px white;   
	}
  }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
	display: flex;
	justify-content: space-evenly;
	height: 15vh;
	width: 100%;
	background-color: deepskyblue;
	color: white;
}

.title {
	width: fit-content;
	display: inline-flex;
	flex-wrap: nowrap;
	text-transform: uppercase;
}

.linklist {
	display: inline-flex;
	justify-content: baseline;
	width: 50%;
	list-style: none;
	margin-right: 50%;
}

.linklist a {
	color: white;
	font-size: 15px;
	padding: 0% 10% 0% 10%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.introduction {
    display: flex;
    justify-content: space-evenly;
	align-items: center;
    color: black;
	background-color: white;
	width: 100%;
	height: 90vh;
	margin-top: 10vh;
}

.introduction .textcontainer {
	display: inline-flex;
	flex-wrap: wrap;
	text-align: center;
	padding: 5% 0;
	width: 40%;
}

.introduction div {
	display: inline-flex;
	width: 40%;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;

}
  
.rslides li {
    backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
  
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
  
.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.covering-letter {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
	align-items: center;
    color: black;
	width: 100%;
	height: 90vh;
}

.covering-letter h2 {
    width: 100%;
	height: 10%;
	margin-left: 5vh;
}

.covering-letter p {
    width: 100%;
	margin: 0 5vh 0 5vh;
	height: 60%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.skills {
	display: flex;
	height: 40vh;
	width: 100%;
	justify-content: flex-start;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.CV {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250vh;
	overflow: scroll;
    width: 100%;
    margin: 0 auto;
}

.CV div {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 8%;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
	flex-shrink: 4;
}

.CV div:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.2);
  }

.CV div h3 {
    display: inline-flex;
    width: 100%;
    margin-left: 2%;
    margin-top: 0.5%;
}

.CV div img {
    display: inline-flex;
    max-width: 10%;
    height: 50%;
    object-fit: contain;
}

.CV div p {
    display: inline-flex;
    justify-content: center;
    width: 35%;
    height: fit-content;

}

.CV h3 {
    display: inline-flex;
    width: 90%;
	margin: 0 auto;
	flex-shrink: 2;
}

.CV h2 {
    display: inline-flex;
    width: 90%;
	margin: 0 auto;
	flex-shrink: 2;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
	height: 20vh;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center;
    background-color: white;
    font-weight: bolder;
    color: black;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 0px) {

	body {
		width: auto;
	}

	header {
    	display: flex;
    	justify-content: flex-start;
    	flex-direction: row;
    	align-items: center;
    	position: fixed;
    	z-index: 4;
    }

    .title {
    	display: inline-flex;
    	margin-left: 10%;
    	min-width: 35%;
    }

    .linklist {
    	display: inline-flex;
    	flex-direction: column;
    	min-width: 35%;
    	margin-left: 17%;
    	margin-right: 13%;
    	text-align: center;
		text-transform: uppercase;
    }

	.introduction {
		height: 62vh;
	}

	.introduction h1 {
		font-size: 17px;
	}

	.covering-letter {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-content: center;
		height: fit-content;
		padding-top: 0%;
		margin-bottom: 5%;
	}

    .covering-letter h2 {
		font-size: 18px;
		min-height: 10%;
		text-align: center;
		margin: 5% 0 5% 0;
		padding: 0%;
	}

	.covering-letter p {
		width: 90%;
		overflow: visible;
	}

	.skills {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 35vh;
		width: 100%;
		padding-top: 8%;
		padding-left: 5%;
		list-style: disc;
		font-weight: bolder;
		margin-bottom: 2%
	}


	.CV {
		margin-bottom: 5%;
	}

	.CV p {
		font-weight: bold;
	}


	main {
		font-family: "Poppins", sans-serif;
	}

	main h2 {
		font-size: 21.5px;
	}

	main p {
		font-size: 13.5px;
	}

	main h3 {
		font-size: 14.5px;
	}

	.contact {
		height: 25vh;
		font-size: 13px;
	}

}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 576px) {

	.introduction h1 {
		font-size: 20px;
	}

	.covering-letter {
		height: 60vh;
		margin-bottom: 0%;
	}

	.covering-letter h2 {
		font-size: 19px;
	}

	.skills {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 4%;
	}

	main h2 {
		font-size: 21.5px;
	}

	main p {
		font-size: 15px;
	}

	main h3 {
		font-size: 18px;
	}

	.contact h2 {
		font-size: 21.5px;
	}

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 768px) {

	header {
	    display: flex;
	    justify-content: flex-start;
		width: 100%;
	}

    .title {
    	min-width: 20%;
    	display: inline-flex;
    	text-align: center;
    	margin-left: 3%;
    }
    
    .linklist {
    	display: inline-flex;
    	flex-direction: row;
    	justify-content: flex-start;
    	min-width: 70%;
    	margin-left: 3%;
    	overflow: visible;
    }

    .linklist li {
    	min-width: 20%;
    	margin-left: 5%;
    }

	.introduction {
		height: 85vh;
	}

	.introduction h1 {
    	font-size: 23px;
    }

	.covering-letter {
    	height: 60vh;
    }

	.covering-letter h2 {
		text-align: center;
		font-size: 23px;
	}

	.skills {
    	height: 30vh;
    	margin-bottom: 3%;
    }

	main h2 {
		font-size: 23px;
	}

	main h3 {
		font-size: 19px;
	}

	main p {
		font-size: 16.5px;
	}

	.contact h2 {
		font-size: 23px;
	}

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 1200px) {

	.covering-letter {
		height: 50vh;
		display: grid;
		justify-content: center;
		align-items: center;
	}

	.covering-letter h2 {
		text-align: center;
		font-size: 21.5px;
		min-height: 30%;
	}

	main h3 {
		font-size: 20.5px;
	}

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

