
*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
	overflow-x: hidden;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*===================
animation01
====================*/

.animation01 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #384150;
}

.animation01 .line_content {
    width: 100%;
    height: 50%;
    animation: animation01_content 0.3s ease-in forwards;
}

.animation01 .line_content01 {
    transform-origin: bottom;
}

.animation01 .line_content02 {
    transform-origin: top;
}

.animation01 .line_wrapper {
    width: 100%;
    height: 100%;
}

.animation01 .line_wrapper01 {
    transform-origin: bottom;
    animation: animation01_wrapper01 0.5s ease-in-out 0.2s forwards;
}

.animation01 .line_wrapper02 {
    transform-origin: top;
    animation: animation01_wrapper02 0.5s ease-in-out 0.2s forwards;
}

.animation01 .line01 {
    width: 100%;
    height: 50%;
    background-color: #d05464;
}

.animation01 .line02 {
    width: 100%;
    height: 50%;
    background-color: #c98b4f;
}

@keyframes animation01_content {
    0% {
        transform: scale3d(1, 0, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes animation01_wrapper01 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50vw);
    }
}

@keyframes animation01_wrapper02 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50vw);
    }
}

/*===================
animation02
====================*/

.animation02 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.square {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 8vw;
    height: 8vw;
    margin: auto;
    background-color: #c03d5c;
    animation: square 0.2s ease-in-out 0.6s forwards;
    opacity: 0;
    z-index: 100;
}

@keyframes square {
    0% {
        transform: rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}

.square_item {
    display: block;
    position: absolute;
    width: 0.5vw;
    height: 0.5vw;
    margin: auto;
    background-color: #c03d5c;
    border-radius: 50%;
    opacity: 0;
}

.square_item01 {
    top: -105%;
    right: 0;
    bottom: 0;
    left: 0;
    animation: square_item01 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}

.square_item02 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 99%;
    animation: square_item02 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}

.square_item03 {
    top: 105%;
    right: 0;
    bottom: 0;
    left: 0;
    animation: square_item03 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}

.square_item04 {
    top: 0;
    right: 0;
    bottom: 0;
    left: -99%;
    animation: square_item04 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}

.square_item05 {
    top: -105%;
    right: 0;
    bottom: 0;
    left: 99%;
    animation: square_item05 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}

.square_item06 {
    top: 105%;
    right: 0;
    bottom: 0;
    left: 99%;
    animation: square_item06 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}

.square_item07 {
    top: 105%;
    right: 0;
    bottom: 0;
    left: -99%;
    animation: square_item07 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}

.square_item08 {
    top: -105%;
    right: 0;
    bottom: 0;
    left: -99%;
    animation: square_item08 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}

@keyframes square_item01 {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-7vw);
        opacity: 1;
    }
}

@keyframes square_item02 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(7vw);
        opacity: 1;
    }
}

@keyframes square_item03 {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(7vw);
        opacity: 1;
    }
}

@keyframes square_item03 {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(7vw);
        opacity: 1;
    }
}

@keyframes square_item04 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-7vw);
        opacity: 1;
    }
}

@keyframes square_item05 {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(3.5vw, -3.5vw, -3.5vw);
        opacity: 1;
    }
}

@keyframes square_item06 {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(3.5vw, 3.5vw, 3.5vw);
        opacity: 1;
    }
}

@keyframes square_item07 {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(-3.5vw, 3.5vw, 3.5vw);
        opacity: 1;
    }
}

@keyframes square_item08 {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(-3.5vw, -3.5vw, 3.5vw);
        opacity: 1;
    }
}

.circle_item01 {
    position: absolute;
    top: 150%;
    right: 0;
    bottom: 0;
    left: 90%;
    width: 5vw;
    height: 5vw;
    margin: auto;
    background-color: #6f919a;
    border-radius: 50%;
    animation: circle_item 1.0s cubic-bezier(0.19, 1, 0.22, 1) 1.1s forwards;
    opacity: 0;
}

.circle_item02 {
    position: absolute;
    top: 125%;
    right: 0;
    bottom: 0;
    left: 125%;
    width: 5vw;
    height: 5vw;
    margin: auto;
    background-color: #c24a50;
    border-radius: 50%;
    animation: circle_item 1.0s cubic-bezier(0.19, 1, 0.22, 1) 1.15s forwards;
    opacity: 0;
}

.circle_item03 {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 158%;
    width: 5vw;
    height: 5vw;
    margin: auto;
    background-color: #d6a2a6;
    border-radius: 50%;
    animation: circle_item 1.0s cubic-bezier(0.19, 1, 0.22, 1) 1.2s forwards;
    opacity: 0;
}

.circle_item04 {
    position: absolute;
    top: -150%;
    right: 0;
    bottom: 0;
    left: -158%;
    width: 5vw;
    height: 5vw;
    margin: auto;
    background-color: #6f919a;
    border-radius: 50%;
    animation: circle_item 1.0s cubic-bezier(0.19, 1, 0.22, 1) 1.1s forwards;
    opacity: 0;
}

.circle_item05 {
    position: absolute;
    top: -125%;
    right: 0;
    bottom: 0;
    left: -227%;
    width: 5vw;
    height: 5vw;
    margin: auto;
    background-color: #c24a50;
    border-radius: 50%;
    animation: circle_item 1.0s cubic-bezier(0.19, 1, 0.22, 1) 1.15s forwards;
    opacity: 0;
}

.circle_item06 {
    position: absolute;
    top: -100%;
    right: 0;
    bottom: 0;
    left: -298%;
    width: 5vw;
    height: 5vw;
    margin: auto;
    background-color: #d6a2a6;
    border-radius: 50%;
    animation: circle_item 1.0s cubic-bezier(0.19, 1, 0.22, 1) 1.2s forwards;
    opacity: 0;
}

@keyframes circle_item {
    0% {
        transform: scale3d(0, 0, 1);
        opacity: 1;
    }
    75% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
    100% {
        transform: scale3d(0.5, 0.5, 1);
        opacity: 1;
    }
}

.circle_item01_1 {
    position: absolute;
    top: 150%;
    right: 0;
    bottom: 0;
    left: 106%;
    width: 2.5vw;
    height: 2.5vw;
    margin: auto;
    background-color: #6f919a;
    border-radius: 50%;
    animation: circle_twice 0.25s linear 2s forwards;
    opacity: 0;
}

.circle_item02_2 {
    position: absolute;
    top: 175%;
    right: 0;
    bottom: 0;
    left: 141%;
    width: 2.5vw;
    height: 2.5vw;
    margin: auto;
    background-color: #c24a50;
    border-radius: 50%;
    animation: circle_twice 0.245s linear 2.05s forwards;
    opacity: 0;
}

.circle_item03_3 {
    position: absolute;
    top: 200%;
    right: 0;
    bottom: 0;
    left: 175%;
    width: 2.5vw;
    height: 2.5vw;
    margin: auto;
    background-color: #d6a2a6;
    border-radius: 50%;
    animation: circle_twice 0.24s linear 2.1s forwards;
    opacity: 0;
}

.circle_item04_4 {
    position: absolute;
    top: -150%;
    right: 0;
    bottom: 0;
    left: -158%;
    width: 2.5vw;
    height: 2.5vw;
    margin: auto;
    background-color: #6f919a;
    border-radius: 50%;
    animation: circle_third 0.25s linear 2s forwards;
    opacity: 0;
}

.circle_item05_5 {
    position: absolute;
    top: -175%;
    right: 0;
    bottom: 0;
    left: -227%;
    width: 2.5vw;
    height: 2.5vw;
    margin: auto;
    background-color: #c24a50;
    border-radius: 50%;
    animation: circle_third 0.245s linear 2.05s forwards;
    opacity: 0;
}

.circle_item06_6 {
    position: absolute;
    top: -200%;
    right: 0;
    bottom: 0;
    left: -298%;
    width: 2.5vw;
    height: 2.5vw;
    margin: auto;
    background-color: #d6a2a6;
    border-radius: 50%;
    animation: circle_third 0.24s linear 2.1s forwards;
    opacity: 0;
}

@keyframes circle_twice {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    25% {
        transform: translate3d(75%, -120%, 0);
        opacity: 1;
    }
    50% {
        transform: translate3d(100%, -240%, 0);
        opacity: 1;
    }
    75% {
        transform: translate3d(75%, -360%, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, -480%, 0);
        opacity: 1;
    }
}

@keyframes circle_third {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    25% {
        transform: translate3d(75%, 120%, 0);
        opacity: 1;
    }
    50% {
        transform: translate3d(100%, 240%, 0);
        opacity: 1;
    }
    75% {
        transform: translate3d(75%, 360%, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 480%, 0);
        opacity: 1;
    }
}

/*===================
animation03
====================*/

.animation03 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
}

.animation03 div {
    width: 10vw;
    height: 10vw;
    background-color: #cac9ca;
    transform: rotate(45deg);
    animation: bg 0.5s linear 2.5s forwards;
    opacity: 0;
    z-index: 99;
}

@keyframes bg {
    0% {
        transform: scale3d(0, 0, 0) rotate(45deg);
        opacity: 1;
    }
    75% {
        transform: scale3d(1, 1, 1) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: scale3d(1.5, 1.5, 1) rotate(45deg);
        opacity: 1;
    }
}

/*===================
animation04
====================*/

.animation04 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.name_plate {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40vw;
    height: 16vw;
    margin: auto;
    background-color: #3d3c3e;
    transform-origin: center;
    animation: name_plate 1s cubic-bezier(0.165, 0.84, 0.44, 1) 3.1s forwards;
    opacity: 0;
}

@keyframes name_plate {
    0% {
        transform: scale3d(0, 1, 1);
        opacity: 1;
    }
    100% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1d80e8;
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
    animation: name 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 4.1s forwards;
    opacity: 0;
}

@keyframes name {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
	display: flex;
	justify-content: space-evenly;
	height: 15vh;
	width: 100%;
	background-color: deepskyblue;
	color: white;
}

.title {
	width: fit-content;
	display: inline-flex;
	flex-wrap: nowrap;
	text-transform: uppercase;
}

.linklist {
	display: inline-flex;
	justify-content: baseline;
	width: 50%;
	list-style: none;
	margin-right: 50%;
}

.linklist a {
	color: white;
	font-size: 15px;
	padding: 0% 10% 0% 10%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.introduction {
    display: flex;
    justify-content: space-evenly;
	align-items: center;
    color: black;
	background-color: white;
	width: 100%;
	height: 90vh;
	margin-top: 10vh;
}

.introduction .textcontainer {
	display: inline-flex;
	flex-wrap: wrap;
	text-align: center;
	padding: 5% 0;
	width: 40%;
}

.introduction div {
	display: inline-flex;
	width: 40%;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;

}
  
.rslides li {
    backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
  
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
  
.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.covering-letter {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
	align-items: center;
    color: black;
	width: 100%;
	height: 90vh;
}

.covering-letter h2 {
    width: 100%;
	height: 10%;
	margin-left: 5vh;
}

.covering-letter p {
    width: 100%;
	margin: 0 5vh 0 5vh;
	height: 60%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.skills {
	display: flex;
	height: 40vh;
	width: 100%;
	justify-content: flex-start;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.CV {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250vh;
	overflow: scroll;
    width: 100%;
    margin: 0 auto;
}

.CV div {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 8%;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
	flex-shrink: 4;
}

.CV div:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.2);
  }

.CV div h3 {
    display: inline-flex;
    width: 100%;
    margin-left: 2%;
    margin-top: 0.5%;
}

.CV div img {
    display: inline-flex;
    max-width: 10%;
    height: 50%;
    object-fit: contain;
}

.CV div p {
    display: inline-flex;
    justify-content: center;
    width: 35%;
    height: fit-content;

}

.CV h3 {
    display: inline-flex;
    width: 90%;
	margin: 0 auto;
	flex-shrink: 2;
}

.CV h2 {
    display: inline-flex;
    width: 90%;
	margin: 0 auto;
	flex-shrink: 2;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
	height: 20vh;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center;
    background-color: white;
    font-weight: bolder;
    color: black;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 0px) {

	body {
		width: auto;
	}

	header {
    	display: flex;
    	justify-content: flex-start;
    	flex-direction: row;
    	align-items: center;
    	position: fixed;
    	z-index: 4;
    }

    .title {
    	display: inline-flex;
    	margin-left: 10%;
    	min-width: 35%;
    }

    .linklist {
    	display: inline-flex;
    	flex-direction: column;
    	min-width: 35%;
    	margin-left: 17%;
    	margin-right: 13%;
    	text-align: center;
		text-transform: uppercase;
    }

	.introduction {
		height: 62vh;
	}

	.introduction h1 {
		font-size: 17px;
	}

	.covering-letter {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-content: center;
		height: fit-content;
		padding-top: 0%;
		margin-bottom: 5%;
	}

    .covering-letter h2 {
		font-size: 18px;
		min-height: 10%;
		text-align: center;
		margin: 5% 0 5% 0;
		padding: 0%;
	}

	.covering-letter p {
		width: 90%;
		overflow: visible;
	}

	.skills {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 35vh;
		width: 100%;
		padding-top: 8%;
		padding-left: 5%;
		list-style: disc;
		font-weight: bolder;
		margin-bottom: 2%
	}


	.CV {
		margin-bottom: 5%;
	}

	.CV p {
		font-weight: bold;
	}


	main {
		font-family: "Poppins", sans-serif;
	}

	main h2 {
		font-size: 21.5px;
	}

	main p {
		font-size: 13.5px;
	}

	main h3 {
		font-size: 14.5px;
	}

	.contact {
		height: 25vh;
		font-size: 13px;
	}

}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 576px) {

	.introduction h1 {
		font-size: 20px;
	}

	.covering-letter {
		height: 60vh;
		margin-bottom: 0%;
	}

	.covering-letter h2 {
		font-size: 19px;
	}

	.skills {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 4%;
	}

	main h2 {
		font-size: 21.5px;
	}

	main p {
		font-size: 15px;
	}

	main h3 {
		font-size: 18px;
	}

	.contact h2 {
		font-size: 21.5px;
	}

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 768px) {

	header {
	    display: flex;
	    justify-content: flex-start;
		width: 100%;
	}

    .title {
    	min-width: 20%;
    	display: inline-flex;
    	text-align: center;
    	margin-left: 3%;
    }
    
    .linklist {
    	display: inline-flex;
    	flex-direction: row;
    	justify-content: flex-start;
    	min-width: 70%;
    	margin-left: 3%;
    	overflow: visible;
    }

    .linklist li {
    	min-width: 20%;
    	margin-left: 5%;
    }

	.introduction {
		height: 85vh;
	}

	.introduction h1 {
    	font-size: 23px;
    }

	.covering-letter {
    	height: 60vh;
    }

	.covering-letter h2 {
		text-align: center;
		font-size: 23px;
	}

	.skills {
    	height: 30vh;
    	margin-bottom: 3%;
    }

	main h2 {
		font-size: 23px;
	}

	main h3 {
		font-size: 19px;
	}

	main p {
		font-size: 16.5px;
	}

	.contact h2 {
		font-size: 23px;
	}

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 1200px) {

	.covering-letter {
		height: 50vh;
		display: grid;
		justify-content: center;
		align-items: center;
	}

	.covering-letter h2 {
		text-align: center;
		font-size: 21.5px;
		min-height: 30%;
	}

	main h3 {
		font-size: 20.5px;
	}

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

